function Sprites.getOneLeftHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Sprites.getOneRightHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 32767
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Sprites.getTwoLeftHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Sprites.getTwoRightHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Sprites.getThreeLeftHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Sprites.getThreeRightHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Sprites.getFourLeftHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Sprites.getFourRightHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Sprites.getFiveLeftHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Sprites.getFiveRightHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Sprites.getSixLeftHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Sprites.getSixRightHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Sprites.getSevenLeftHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Sprites.getSevenRightHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Sprites.getEightLeftHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 1537
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 511
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Sprites.getEightRightHalf 1
push constant 32
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 32672
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 32767
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 32641
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
